<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Usamos tu ubicación para obtener el pronóstico del clima local y ajustar los recordatorios de riego para tus bambús de exterior.</string>
	<key>NSCameraUsageDescription</key>
	<string>Permite tomar fotos de tus plantas de bambú para añadirlas a tu colección.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Permite seleccionar fotos de tu galería para personalizar tus plantas de bambú.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Permite guardar fotos de tus plantas en tu galería.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>bambooLight</string>
		<key>UIImageName</key>
		<string>leaf.fill</string>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>BambooCare</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
</dict>
</plist>
